@charset "UTF-8";
@import "bootstrap.min.css";
@import "font-awesome.min.css";
@import "swiper.min.css";
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&amp;display=swap");
@media screen and (min-width: 1500px) {
  #code .col-md-11 {
    max-width: 85% !important;
    flex: 0 0 85% !important;
    -ms-flex: 0 0 85% !important;
  }
}
@media screen and (min-width: 1635px) {
  #code .col-md-11 {
    max-width: 82% !important;
    flex: 0 0 82% !important;
    -ms-flex: 0 0 82% !important;
  }
}
@media screen and (min-width: 1752px) {
  #code .col-md-11 {
    max-width: 79% !important;
    flex: 0 0 79% !important;
    -ms-flex: 0 0 79% !important;
  }
}
@media screen and (min-width: 1930px) {
  #code .col-md-11 {
    max-width: 77% !important;
    flex: 0 0 77% !important;
    -ms-flex: 0 0 77% !important;
  }
}
@media screen and (min-width: 2054px) {
  #code .col-md-11 {
    max-width: 75% !important;
    flex: 0 0 75% !important;
    -ms-flex: 0 0 75% !important;
  }
}
@media screen and (max-width: 1230px) {
  #content #code .whats-text {
    padding-left: 65px !important;
  }
}
@media screen and (max-width: 1200px) {
  footer .footer-box .link {
    font-size: 14px !important;
  }

  header .header-right .video a {
    margin-left: -40px !important;
    margin-top: -40px !important;
  }

  #content #code .whats-text {
    padding-left: 120px !important;
  }

  #content #affiliate .ref-link .ref-box a .numb {
    width: 30px !important;
    font-size: 17px !important;
  }

  #content #papers .paper-right .paper-box .paper-min h4 {
    font-size: 16px !important;
  }

  #content #papers .paper-right .paper-box .paper-min p {
    font-size: 13px !important;
  }

  #content .default-title h3 {
    font-size: 27px !important;
  }

  #content #whats .what-box .what-min strong {
    font-size: 25px !important;
  }

  #content #whats .what-box .what-min span {
    font-size: 17px !important;
  }

  #content #downloads .download-box .download-min .top-title .right-title {
    font-size: 18px !important;
  }

  #content #downloads .download-box .download-min .top-title .left-title {
    width: 33px !important;
    height: 33px !important;
    line-height: 33px !important;
    font-size: 17px !important;
  }

  #content #affiliate .ref-link .ref-box a strong.d-block {
    font-size: 17px !important;
  }

  #content #affiliate #program .program-box .program-text h5 {
    font-size: 31px !important;
  }

  #content #affiliate #program .program-box .program-text p {
    font-size: 15px !important;
  }

  #content #affiliate .ref-link .ref-box a:after {
    font-size: 15px !important;
  }

  #content #affiliate .ref-link .ref-box a .text {
    font-size: 17px !important;
  }

  #content #affiliate .ref-link .ref-box a.active strong {
    font-size: 16px !important;
  }

  #content #downloads .download-box .download-min .top-title {
    padding: 0 16px !important;
  }

  .logo a img {
    max-width: 100% !important;
    height: auto !important;
  }

  header .header-left h2 {
    font-size: 45px !important;
    line-height: 55px !important;
  }

  header .header-left p {
    font-size: 14px !important;
    line-height: 22px !important;
  }
  header .header-left p br {
    display: none !important;
  }

  header .header-left a {
    width: 155px !important;
    height: 45px !important;
    line-height: 45px !important;
    font-size: 14px !important;
  }


  }

  header .collapses a.normal-link {
    font-size: 15px !important;
  }

  header .collapses a.deposit {
    font-size: 15px !important;
    width: 140px !important;
    height: 42px !important;
    line-height: 42px !important;
  }

  header {
    height: 620px !important;
  }

  .collapses .float-right {
    display: none !important;
  }

  #hamburger_btn {
    display: inline-block !important;
  }
}
@media screen and (max-width: 992px) {
  header .header-left h2 {
    font-size: 40px !important;
    line-height: 50px !important;
  }

  #content #TronGrace .tron-box .tron-min p {
    font-size: 14px !important;
    line-height: 20px !important;
  }

  #content #TronGrace .tron-box .tron-min {
    margin-top: 15px !important;
  }

  #content #TronGrace .tron-box .tron-min h4 {
    font-size: 18px !important;
  }

  #content #code .report .card-link {
    margin-top: 90px !important;
  }

  #content #papers .paper-left img {
    width: 100% !important;
  }

  #content #papers .paper-right {
    padding-left: 30px !important;
    margin-top: 30px !important;
  }

  #content #papers .paper-left, #content #papers .paper-right {
    max-width: 100% !important;
    flex: 0 0 100% !important;
    -ms-flex: 0 0 100% !important;
  }

  #code .col-md-11 {
    max-width: 100% !important;
    flex: 0 0 100% !important;
    -ms-flex: 0 0 100% !important;
  }
  #code .col-md-11 .col-md-8 {
    max-width: 100% !important;
    flex: 0 0 100% !important;
    -ms-flex: 0 0 100% !important;
  }

  #content #code {
    background-image: linear-gradient(102deg, #000349 0%, #005b8e 100%) !important;
  }

  #content #code .whats-text h5 {
    color: #fff !important;
  }
  #content #code .whats-text h5 span {
    color: #ff002e !important;
  }

  #content #code .whats-text p {
    color: #fff !important;
    margin-bottom: 30px !important;
  }

  #content #code .whats-text {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .social {
    display: inline-block !important;
  }

  #content #downloads .download-box {
    max-width: 50% !important;
    flex: 0 0 50% !important;
    -ms-flex: 0 0 50% !important;
  }

  .col-md-11.mt-4.pl-0 {
    max-width: 100% !important;
    flex: 0 0 100% !important;
    -ms-flex: 0 0 100% !important;
  }

  #content #code .report {
    background-image: linear-gradient(102deg, #000349 0%, #005b8e 100%) !important;
  }

  #content #code .report {
    width: 100% !important;
    float: none !important;
  }

  #code .container-fluid {
    padding-right: 0 !important;
  }

  #content #code .report {
    display: inline-block !important;
    padding-bottom: 30px !important;
    height: auto !important;
  }

  #content #code .whats-link strong {
    color: #fff !important;
    text-align: left !important;
  }

  #content #code .whats-link a .right-numb {
    float: left !important;
  }

  #content #code .whats-link a {
    width: 100% !important;
    margin-left: 0 !important;
    display: block !important;
    padding-left: 15px !important;
  }

  #content #code {
    margin-bottom: 0 !important;
  }

  #content #code .whats-link {
    width: 100% !important;
    float: none !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
  }

  #content #downloads .download-box .download-min .top-title {
    padding: 0 20px !important;
  }

  #content #downloads .down-text-left p {
    font-size: 35px !important;
    line-height: 45px !important;
  }

  #content #downloads .down-text-right p {
    font-size: 16px !important;
  }
  #content #downloads .down-text-right p br {
    display: none !important;
  }

  #content #downloads .down-text-right:after {
    display: none !important;
  }

  #content #downloads .down-text-right p {
    margin-top: 0 !important;
  }

  footer .footer-box, #content #affiliate .ref-link {
    max-width: 100% !important;
    flex: 100% !important;
    -ms-flex: 100% !important;
    text-align: center !important;
  }

  #content #affiliate #program {
    position: static !important;
  }
  #content #affiliate #program .col-md-6 {
    max-width: 100% !important;
    flex: 100% !important;
    -ms-flex: 100% !important;
    padding-right: 15px !important;
  }

  #content #affiliate #program .program-box {
    border-radius: 15px !important;
  }

  .footer-box .logo {
    display: none !important;
  }

  footer .footer-box .chat_wrapper {
    float: none !important;
    display: inline-block !important;
    margin-top: 20px !important;
  }

  .hide-mb {
    display: inline-block !important;
    margin-bottom: 30px !important;
  }

  footer .footer-box .link {
    margin-top: 6px !important;
  }

  footer .footer-box .social a .right-social {
    width: 170px !important;
  }

  .footer-box.text-right {
    text-align: center !important;
  }

  footer .footer-box .what-links {
    width: 100% !important;
  }

  #content #papers .paper-left {
    height: auto !important;
  }

  #content #papers .paper-right {
    height: auto !important;
  }

  body #exampleModal .modal-dialog, body #exampleModal2 .modal-dialog {
    max-width: 100% !important;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 767px) {
  .modal-dialog .modal-content .item-boxes .item-box {
    margin-bottom: 20px !important;
  }

  .modal-dialog .modal-content .referral-link p br {
    display: none !important;
  }

  .lorem-ul li {
    font-size: 13px !important;
  }

  .what-lorem span {
    font-size: 15px !important;
  }

  .modal-dialog .modal-content form input {
    font-size: 14px !important;
  }

  .modal-dialog .modal-content h2 {
    font-size: 24px !important;
  }

  .modal-dialog .modal-content {
    padding: 15px 4px !important;
  }

  .modal-dialog .modal-content .item-boxes .item-min .top-item span {
    font-size: 15px !important;
  }

  .modal-dialog .modal-content .referral-link h5 {
    font-size: 15px !important;
  }

  .modal-dialog .modal-content .referral-link p {
    font-size: 12px !important;
    line-height: 15px !important;
  }

  .modal-dialog .modal-content .item-boxes .item-min .top-item .list p {
    font-size: 12px !important;
  }

  .modal-dialog .linked {
    font-size: 14px !important;
    width: 100% !important;
  }

  .modal-dialog .modal-content .referral-link a {
    width: 100% !important;
  }

  .modal-dialog .modal-content .referral-link input {
    font-size: 14px !important;
  }

  .modal-dialog .modal-content .item-boxes .item-min .egs strong {
    font-size: 23px !important;
  }

  .modal-dialog .modal-content .item-boxes .item-min a {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .modal-dialog .modal-content .with-text p br {
    display: none !important;
  }

  footer:after {
    background-size: cover !important;
  }

  #content .default-title h3 span:after {
    width: 32px !important;
    height: 35px !important;
    background-size: 100% 100% !important;
  }

  #content #TronGrace {
    margin-top: 130px !important;
  }

  #content #code {
    padding-top: 25px !important;
  }

  header .header-left {
    text-align: center !important;
    margin-top: 35px !important;
  }

  header .header-right {
    margin-top: 50px !important;
  }

  #content #affiliate #program .program-box {
    height: auto !important;
    padding-bottom: 30px !important;
  }

  #content #code .report .code-box {
    width: 100% !important;
    float: none !important;
    margin-left: 0 !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  #content #code .report .card-link {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    float: none !important;
  }

  #content #TronGrace .tron-box .tron-min:hover {
    margin-bottom: 0 !important;
    margin-top: 10px !important;
  }

  #content .line-12 {
    margin-bottom: 20px !important;
    margin-top: 20px !important;
  }

  #content #whats .what-box .what-min {
    height: 140px !important;
  }

  #content #downloads .download-box .download-min:hover {
    margin-top: 10px !important;
    padding-top: 25px !important;
  }

  #content #code .whats-link a .number {
    font-size: 20px !important;
  }

  #content #code .report .code-box h4 {
    font-size: 18px !important;
  }

  #content #TronGrace .tron-box .tron-min h4 {
    font-size: 20px !important;
  }

  #content #TronGrace .tron-box .tron-min p {
    line-height: 20px !important;
    font-size: 15px !important;
  }

  #content #TronGrace .tron-box .tron-min {
    height: 310px !important;
  }
  #content #TronGrace .tron-box .tron-min:hover {
    height: 350px !important;
    margin-top: 20px !important;
  }

  #content #whats .what-box .what-min img {
    width: 40px !important;
  }

  #content #whats .what-box .what-min strong {
    font-size: 20px !important;
  }

  #content #whats .what-box .what-min span {
    font-size: 15px !important;
  }
}
@media screen and (max-width: 576px) {
  .hide-sm {
    display: none !important;
  }

  #content #affiliate #program .program-box .program-text p {
    padding-left: 20px !important;
    padding-right: 20px !important;
    font-size: 14px !important;
    line-height: 17px !important;
  }
  #content #affiliate #program .program-box .program-text p br {
    display: none !important;
  }

  .program-text img {
    width: 65px !important;
  }

  #content #affiliate #program .program-box {
    margin-top: 15px !important;
  }

  #content #affiliate #program .program-box .program-text h5 {
    font-size: 25px !important;
  }

  header .header-left a {
    width: 150px !important;
    font-size: 13px !important;
  }

  header:after {
    display: none !important;
  }

  #content #TronGrace {
    margin-top: 20px !important;
  }

  header .header-left p {
    line-height: 20px !important;
  }

  header .header-left h2 {
    font-size: 35px !important;
    line-height: 43px !important;
  }

  header {
    background-size: cover !important;
    height: 650px !important;
  }

  #content .default-title h3 {
    font-size: 22px !important;
  }

  #content .line-12 img {
    width: 30px !important;
    margin-left: -15px !important;
    margin-top: 5px !important;
  }

  #code .line-12 {
    padding-right: 30px !important;
    margin-bottom: 5px !important;
  }
  #code .line-12 img {
    margin-left: -22px !important;
  }

  #content #code .report .card-link {
    width: 90% !important;
  }

  #content #affiliate .ref-link .ref-box.hide-pc {
    display: block !important;
  }

  #affiliate {
    margin-top: 20px !important;
  }

  #content #downloads .down-text-left p {
    font-size: 25px !important;
    line-height: 25px !important;
  }

  #content #downloads .down-text-right p {
    font-size: 14px !important;
  }

  #content #downloads .down-text-right {
    padding-top: 25px !important;
    margin-bottom: 10px !important;
  }

  #content #downloads .download-box {
    max-width: 100% !important;
    flex: 0 0 100% !important;
    -ms-flex: 0 0 100% !important;
  }

  #content #affiliate .ref-link .ref-box:first-child a:after, #content #affiliate .ref-link .ref-box:nth-child(14) a:after {
    right: 50% !important;
    top: auto !important;
    bottom: -22px !important;
    transform: rotate(45deg) !important;
    margin-right: -5px;
  }

  #content #affiliate .ref-link .ref-box a {
    height: 95px !important;
  }

  #content #affiliate .ref-link .ref-box:nth-child(4) a:after {
    right: -19px !important;
    left: auto !important;
    transform: rotate(-45deg) !important;
    top: 50% !important;
    bottom: auto !important;
  }

  #content #affiliate .ref-link .ref-box:nth-child(3) a:after, #content #affiliate .ref-link .ref-box:nth-child(10) a:after, #content #affiliate .ref-link .ref-box:nth-child(12) a:after {
    display: none !important;
  }
}
@media screen and (max-width: 380px) {
  #content #TronGrace {
    margin-top: 0 !important;
  }

  #content .default-title h3 {
    font-size: 20px !important;
  }
}
body {
  font-family: "Jost", sans-serif;
  overflow-x: hidden;
}

a, button {
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  text-decoration: none;
}
a:hover, button:hover {
  text-decoration: none !important;
}

.close {
  z-index: 3;
  right: 20px;
  position: absolute;
  color: #fff !important;
  opacity: 1;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  border: 1px solid #fff;
  display: block;
}

.ballon {
  position: relative;
}
.ballon:after {
  content: "";
  position: absolute;
  right: -25px;
  top: -30px;
  background-image: url("../img/icon/item-3.png");
  height: 35px;
  width: 31px;
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.lorem-ul li {
  display: inline-block;
  width: 100%;
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 5px;
}
.lorem-ul li:first-child {
  margin-bottom: 0;
}
.lorem-ul li:first-child i {
  height: 50px !important;
}
.lorem-ul li:last-child {
  margin-bottom: 0;
}
.lorem-ul li i {
  color: #ff002e;
  margin-right: 6px;
  height: 20px;
  float: left;
  margin-top: 5px;
  font-size: 17px;
}
.lorem-ul li span {
  color: #ff002e;
  FONT-WEIGHT: BOLD;
}

.what-lorem {
  max-width: 230px;
  display: block;
  margin: 10px auto;
  text-align: center;
}
.what-lorem img {
  float: left;
  margin-right: 6px;
  margin-top: 4px;
}
.what-lorem span {
  float: left;
  font-size: 17px;
  color: #fff;
  font-weight: 500;
}
.what-lorem a {
  display: inline-block;
  font-size: 15px;
  text-decoration: underline;
  color: #ff002e;
  font-weight: bold;
}

#exampleModal .modal-dialog, #exampleModal2 .modal-dialog {
  max-width: 748px !important;
}
#exampleModal .modal-dialog .linked, #exampleModal2 .modal-dialog .linked {
  background-image: linear-gradient(138deg, #ff002e 0%, #ff7a00 100%);
  width: 262px;
  height: 41px;
  line-height: 41px;
  border-radius: 8px;
  font-size: 15px;
  color: #fff;
  display: inline-block;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 13px;
}
#exampleModal .modal-dialog .linked:hover, #exampleModal2 .modal-dialog .linked:hover {
  opacity: 0.8;
}
#exampleModal .modal-dialog .modal-content, #exampleModal2 .modal-dialog .modal-content {
  background-image: linear-gradient(163deg, #000349 0%, #005b8e 100%);
  background-color: transparent !important;
  padding: 20px 60px;
  border-radius: 10px;
  position: relative;
  border-top: 4px solid #ff002e;
}
#exampleModal .modal-dialog .modal-content .modal-body, #exampleModal2 .modal-dialog .modal-content .modal-body {
  position: relative;
  z-index: 1;
}
#exampleModal .modal-dialog .modal-content:after, #exampleModal2 .modal-dialog .modal-content:after {
  background-image: url("../img/wallet.png");
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-size: 100% 100%;
  z-index: 0;
  opacity: 0.05;
}
#exampleModal .modal-dialog .modal-content h2, #exampleModal2 .modal-dialog .modal-content h2 {
  font-size: 30px;
  color: #fff;
  line-height: 72px;
  font-weight: bold;
  margin-bottom: 0;
}
#exampleModal .modal-dialog .modal-content p, #exampleModal2 .modal-dialog .modal-content p {
  font-size: 17px;
  line-height: 29px;
  color: #ffffff;
  font-weight: 400;
}
#exampleModal .modal-dialog .modal-content p span, #exampleModal2 .modal-dialog .modal-content p span {
  color: #ff002e;
  font-weight: bold;
}
#exampleModal .modal-dialog .modal-content form input, #exampleModal2 .modal-dialog .modal-content form input {
  height: 50px;
  border-radius: 50px;
  background-color: #000349;
  border: 0;
  color: #fff;
  text-align: center;
  font-weight: 500;
  font-size: 17px;
  outline: none;
  box-shadow: none;
}
#exampleModal .modal-dialog .modal-content hr, #exampleModal2 .modal-dialog .modal-content hr {
  border-top: 1px solid #ff002e;
}
#exampleModal .modal-dialog .modal-content .referral-link, #exampleModal2 .modal-dialog .modal-content .referral-link {
  text-align: center;
}
#exampleModal .modal-dialog .modal-content .referral-link h5, #exampleModal2 .modal-dialog .modal-content .referral-link h5 {
  font-size: 17px;
  color: #ffffff;
  line-height: 29px;
  font-weight: 600;
}
#exampleModal .modal-dialog .modal-content .referral-link input, #exampleModal2 .modal-dialog .modal-content .referral-link input {
  background-color: #000349;
  height: 50px;
  border-radius: 50px;
  border: 0;
  font-size: 17px;
  color: #ffffff;
  display: block;
  width: 100%;
  text-align: center;
  font-weight: 500;
}
#exampleModal .modal-dialog .modal-content .referral-link a, #exampleModal2 .modal-dialog .modal-content .referral-link a {
  background-image: linear-gradient(138deg, #ff002e 0%, #ff7a00 100%);
  width: 262px;
  height: 41px;
  line-height: 41px;
  border-radius: 8px;
  font-size: 15px;
  color: #fff;
  display: inline-block;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 13px;
}
#exampleModal .modal-dialog .modal-content .referral-link a i, #exampleModal2 .modal-dialog .modal-content .referral-link a i {
  transform: rotate(90deg);
}
#exampleModal .modal-dialog .modal-content .referral-link p, #exampleModal2 .modal-dialog .modal-content .referral-link p {
  font-size: 13px;
  color: #fff;
  font-weight: 500;
  line-height: 17px;
}
#exampleModal .modal-dialog .modal-content .with-text, #exampleModal2 .modal-dialog .modal-content .with-text {
  width: 100%;
  display: inline-block;
  margin-top: 20px;
}
#exampleModal .modal-dialog .modal-content .with-text p, #exampleModal2 .modal-dialog .modal-content .with-text p {
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  line-height: 17px;
}
#exampleModal .modal-dialog .modal-content .item-boxes, #exampleModal2 .modal-dialog .modal-content .item-boxes {
  margin-top: 20px;
  display: inline-block;
  width: 100%;
}
#exampleModal .modal-dialog .modal-content .item-boxes .row, #exampleModal2 .modal-dialog .modal-content .item-boxes .row {
  margin-left: -10px;
  margin-right: -10px;
}
#exampleModal .modal-dialog .modal-content .item-boxes .item-box, #exampleModal2 .modal-dialog .modal-content .item-boxes .item-box {
  padding-left: 10px;
  padding-right: 10px;
}
#exampleModal .modal-dialog .modal-content .item-boxes .item-min, #exampleModal2 .modal-dialog .modal-content .item-boxes .item-min {
  height: 107px;
  background-color: #000349;
  border-radius: 7px;
  border-left: 3.5px solid #ff002e;
  padding-left: 13px;
  padding-right: 13px;
}
#exampleModal .modal-dialog .modal-content .item-boxes .item-min.bg-right, #exampleModal2 .modal-dialog .modal-content .item-boxes .item-min.bg-right {
  border-left: 0;
  border-right: 3.5px solid #ff002e;
}
#exampleModal .modal-dialog .modal-content .item-boxes .item-min a, #exampleModal2 .modal-dialog .modal-content .item-boxes .item-min a {
  background-image: linear-gradient(138deg, #ff002e 0%, #ff7a00 100%);
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  height: 41px;
  display: inline-block;
  border-radius: 8px;
  width: 186px;
  text-align: center;
  line-height: 45px;
  margin-top: 10px;
}
#exampleModal .modal-dialog .modal-content .item-boxes .item-min a i, #exampleModal2 .modal-dialog .modal-content .item-boxes .item-min a i {
  transform: rotate(90deg);
}
#exampleModal .modal-dialog .modal-content .item-boxes .item-min a:hover, #exampleModal2 .modal-dialog .modal-content .item-boxes .item-min a:hover {
  opacity: 0.8;
}
#exampleModal .modal-dialog .modal-content .item-boxes .item-min .egs img, #exampleModal2 .modal-dialog .modal-content .item-boxes .item-min .egs img {
  float: left;
  margin-top: 5px;
  margin-right: 8px;
}
#exampleModal .modal-dialog .modal-content .item-boxes .item-min .egs strong, #exampleModal2 .modal-dialog .modal-content .item-boxes .item-min .egs strong {
  font-size: 28px;
  color: #ffffff;
  font-weight: 700;
  float: left;
  margin-top: 1px;
}
#exampleModal .modal-dialog .modal-content .item-boxes .item-min.bg-min, #exampleModal2 .modal-dialog .modal-content .item-boxes .item-min.bg-min {
  border-left: 0;
  border-right: 3.5px solid #ff002e;
  padding-left: 25px;
}
#exampleModal .modal-dialog .modal-content .item-boxes .item-min.bg-min .top-item img, #exampleModal2 .modal-dialog .modal-content .item-boxes .item-min.bg-min .top-item img {
  margin-top: 12px;
}
#exampleModal .modal-dialog .modal-content .item-boxes .item-min .top-item, #exampleModal2 .modal-dialog .modal-content .item-boxes .item-min .top-item {
  width: 100%;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: -5px;
}
#exampleModal .modal-dialog .modal-content .item-boxes .item-min .top-item img, #exampleModal2 .modal-dialog .modal-content .item-boxes .item-min .top-item img {
  margin-top: 2px;
  margin-right: 5px;
}
#exampleModal .modal-dialog .modal-content .item-boxes .item-min .top-item .list, #exampleModal2 .modal-dialog .modal-content .item-boxes .item-min .top-item .list {
  margin-top: -8px;
  margin-left: 15px;
}
#exampleModal .modal-dialog .modal-content .item-boxes .item-min .top-item .list p, #exampleModal2 .modal-dialog .modal-content .item-boxes .item-min .top-item .list p {
  font-size: 13px;
  color: #fff;
  line-height: 17px;
  font-weight: 500;
}
#exampleModal .modal-dialog .modal-content .item-boxes .item-min .top-item span, #exampleModal2 .modal-dialog .modal-content .item-boxes .item-min .top-item span {
  font-size: 17px;
  color: #fff;
  font-weight: 500;
}
#exampleModal .modal-dialog .modal-content .item-boxes .item-min strong, #exampleModal2 .modal-dialog .modal-content .item-boxes .item-min strong {
  font-size: 25px;
  color: #ff002e;
  font-weight: 700;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

#hamburger_btn {
  display: none;
  position: absolute;
  right: 15px;
  top: 2px;
}

#mobileMenu {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  display: none;
  background-image: linear-gradient(102deg, #000349 0%, #005b8e 100%) !important;
  height: 100%;
  width: 100%;
  padding-top: 30px;
}
#mobileMenu .closes {
  position: absolute;
  right: 20px;
  top: 15px;
  color: #fff;
  font-size: 30px;
}
#mobileMenu .menu {
  padding-left: 30px;
  padding-right: 30px;
}
#mobileMenu .menu a.normal-link {
  color: #fff;
  display: block;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
#mobileMenu .menu .deposit {
  background-color: #ff002e;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  width: 167px;
  height: 46px;
  line-height: 44px;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
  border: 2px solid #ff002e;
  margin-top: 25px !important;
}
#mobileMenu .menu .deposit:hover {
  background-color: transparent;
  color: #6ba2f6;
}
#mobileMenu .menu .dropdown .btn {
  color: #fff;
  margin-top: 15px !important;
}

header {
  position: relative;
  width: 100%;
  background-image: url("../img/header-backogrund.png");
  height: 720px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-top: 45px;
}
header .header-left {
  z-index: 2;
  margin-top: 95px;
}
header .header-left h2 {
  font-size: 47px;
  line-height: 72px;
  color: #fff;
}
.cont {

        background-image: linear-gradient(to left, #ff7a00, #ff002e);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
}

.cont:hover {

        filter: brightness(80%);
}
header .header-left h2 span {

        background-image: linear-gradient(to left, #ff7a00, #ff002e);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
}
header .header-left p {
  line-height: 28px;
  font-size: 16px;
  color: #f2f2f2;
  font-weight: 400;
  margin-bottom: 17px;
  margin-top: 10px;
}
header .header-left a {
  width: 196px;
  height: 54px;
  border-radius: 100px;
  text-align: center;
  line-height: 53px;
  display: inline-block;
  font-size: 17px;
  font-weight: 600;
  border: 1px solid transparent;
}
header .header-left a.btn-purple {
  background-color: #ff002e;
  background-image: linear-gradient(138deg, #ff002e 0%, #ff7a00 100%);
  color: #000349;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(109, 174, 254, 0.35);
  -moz-box-shadow: 0px 0px 6px 0px rgba(109, 174, 254, 0.35);
  box-shadow: 0px 0px 6px 0px rgba(109, 174, 254, 0.35);
  margin-right: 10px;
}
header .header-left a.btn-purple:hover {
  background-color: transparent;
  border-color: #ff002e;
  color: #fff;
}
header .header-left a.btn-white {
  background-color: #fff;
  color: #000349;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(255, 255, 255, 0.35);
  -moz-box-shadow: 0px 0px 6px 0px rgba(255, 255, 255, 0.35);
  box-shadow: 0px 0px 6px 0px rgba(255, 255, 255, 0.35);
}
header .header-left a.btn-white:hover {
  background-color: transparent;
  border-color: #fff;
  color: #fff !important;
}
header .header-right {
  z-index: 2;
  margin-top: 100px;
}
header .header-right .video {
  position: relative;
}
header .header-right .video a {
  width: 110px;
  height: 110px;
  border-radius: 110px;
  background-color: rgba(0, 28, 126, 0.69);
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 28, 126, 0.2);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0, 28, 126, 0.2);
  box-shadow: 0px 0px 6px 0px rgba(0, 28, 126, 0.2);
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  color: #fff;
  font-size: 52px;
  text-align: center;
  line-height: 110px;
  margin-left: -55px;
  margin-top: -55px;
}
header .header-right .video a:hover {
  background-color: rgba(0, 28, 126, 0.9);
}
header .header-right .video a i {
  margin-left: 8px;
  margin-top: 3px;
}
header .collapses {
  z-index: 3;
}
header .collapses .dropdown {
  display: inline-block;
  margin-left: 17px;
  padding-right: 3px;
}
header .collapses .dropdown .btn {
  outline: none;
  box-shadow: none;
  margin-left: 3px;
}
header .collapses .dropdown:after {
  position: absolute;
  left: 0;
  top: 6px;
  background-color: #ff002e;
  width: 1px;
  height: 19px;
  content: "";
}
header .collapses .dropdown i {
  color: #fff;
  font-weight: 500;
  margin-top: 2px;
  float: left;
}

header .collapses .dropdown-menu{
  width: 160px !important;
}


header .collapses .dropdown-menu button{
  padding-left: 5px !important;
  padding-right: 5px !important;
}

header .collapses .dropdown img {
  float: left;
  margin-right: 4px;
}
header .collapses a.normal-link {
  font-size: 18px;
  color: #f2f2f2;
  font-weight: 500;
  margin-right: 12px;
}
header .collapses a.normal-link:hover {
  color: #ff002e;
}
header .collapses a.normal-link:last-child {
  margin-right: 0;
}
header .collapses a.deposit {
  background-image: linear-gradient(138deg, #ff002e 0%, #ff7a00 100%);
  color: #000349;
  font-size: 18px;
  font-weight: 500;
  width: 167px;
  height: 46px;
  line-height: 44px;
  border-radius: 10px;
  display: inline-block;
  text-align: center;

}
header .collapses a.deposit:hover {
  filter: brightness(90%);
  color: #fff;
}
header:after {
  content: "";
  background-image: url("../img/rounder1.html");
  height: 504px;
  width: 100%;
  position: absolute;
  bottom: -120px;
  left: 0;
  z-index: 0;
}

#content {
  position: relative;
  width: 100%;
}
#content #code {
  position: relative;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 100px;
}
#content #code .report {
  width: 75%;
  height: 266px;
  z-index: 1;
  float: left;
  position: relative;
  background-image: url("../img/report-img.png");
  background-size: 100% 100%;
}
#content #code .report .codes {
  position: absolute;
  left: 50px;
  bottom: 15px;
}
#content #code .report .code-box {
  width: 305px;
  float: left;
  margin-left: 110px;
}
#content #code .report .code-box h4 {
  font-size: 20px;
  text-align: center;
  line-height: 28px;
  color: #ffffff;
  font-weight: 700;
  margin-top: 25px;
  margin-bottom: 12px;
}
#content #code .report .code-box .code-min {
  height: 386px;
  -webkit-box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.23);
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  position: relative;
  z-index: 1;
  width: 100%;
}
#content #code .report .code-box p {
  font-size: 15px;
  font-weight: 400;
  color: #29292b;
}
#content #code .report .card-link {
  width: 263px;
  height: 335px;
  margin-left: 50px;
  background-image: url("../img/card.png");
  background-size: 100% 100%;
  float: left;
  text-align: center;
  padding-top: 90px;
  margin-top: -30px;
  -webkit-box-shadow: 0px 0px 56px 0px rgba(109, 174, 254, 0.16);
  -moz-box-shadow: 0px 0px 56px 0px rgba(109, 174, 254, 0.16);
  box-shadow: 0px 0px 56px 0px rgba(109, 174, 254, 0.16);
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
}
#content #code .report .card-link p {
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  margin-top: 15px;
  margin-bottom: 15px;
}
#content #code .report .card-link a {
  width: 181px;
  height: 49px;
  margin-top: 15px;
  border-radius: 49px;
  background-image: linear-gradient(138deg, #ff002e 0%, #ff7a00 100%);

  display: inline-block;
  text-align: center;
  line-height: 49px;
  font-size: 14px;
  color: #000349;
  font-weight: 600;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(109, 174, 254, 0.16);
  -moz-box-shadow: 0px 0px 20px 0px rgba(109, 174, 254, 0.16);
  box-shadow: 0px 0px 20px 0px rgba(109, 174, 254, 0.16);
}
#content #code .report .card-link a:hover {
  background-color: transparent;
  color: #fff;
}
#content #code .whats-link {
  width: 25%;
  float: left;
  z-index: 0;
  position: relative;
  padding-top: 30px;
}
#content #code .whats-link strong {
  font-size: 18px;
  color: #29292b;
  font-weight: 600;
  display: block;
  text-align: right;
  margin-bottom: 5px;
}
#content #code .whats-link a {
  height: 58px;
  border-radius: 6px;
  background-image: linear-gradient(244deg, #000349 0%, #005b8e 100%);
  border-right: 4px solid #ff002e;
  display: block;
  position: relative;
  padding-left: 80px;
  padding-right: 40px;
  margin-left: -70px;
}
#content #code .whats-link a .right-numb {
  width: 130px;
  display: block;
  text-align: center;
  float: right;
  margin-top: 9px;
}
#content #code .whats-link a .number {
  display: block;
  font-size: 22px;
  color: #fff;
  font-weight: bold;
  line-height: 23px;
}
#content #code .whats-link a b {
  font-size: 13px;
  display: block;
  font-weight: 500;
  line-height: 15px;
  color: #fff;
  margin-top: 3px;
}
#content #code .whats-link a img {
  position: absolute;
  right: 12px;
  top: 20px;
}
#content #code .whats-text {
  padding-left: 35px;
  display: inline-block;
  padding-top: 50px;
}
#content #code .whats-text h5 {
  color: #29292b;
  font-size: 25px;
  line-height: 34px;
}
#content #code .whats-text h5 span {
  color: #000349;
}
#content #code .whats-text p {
  color: #29292b;
  font-size: 15px;
  line-height: 29px;
  font-weight: 400;
}
#content .line-12 {
  margin-bottom: 60px;
}
#content .line-12 .line {
  width: 45%;
  float: left;
  background-color: #e9eaec;
  height: 1px;
  display: block;
}
#content .line-12 .mr {
  margin-left: 10%;
}
#content .line-12 img {
  position: absolute;
  left: 50%;
  margin-left: -22px;
  top: -23px;
}
#content #lines {
  position: relative;
  width: 100%;
  display: inline-block;
  margin-top: 15px;
}
#content #TronGrace {
  position: relative;
  width: 100%;
}
#content #TronGrace .tron-box {
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
#content #TronGrace .tron-box .tron-min {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  border-radius: 10px;
  height: 412px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
#content #TronGrace .tron-box .tron-min:hover {
  background-image: linear-gradient(206deg, #000349 0%, #005b8e 100%);
  height: 440px;
  margin-bottom: -18px;
  margin-top: -10px;
}
#content #TronGrace .tron-box .tron-min:hover h4, #content #TronGrace .tron-box .tron-min:hover p {
  color: #fff;
}
#content #TronGrace .tron-box .tron-min:hover hr {
  border-color: #ff7a00;
}
#content #TronGrace .tron-box .tron-min:hover img {
  filter: invert(58%) sepia(90%) saturate(847%) hue-rotate(187deg) brightness(102%) contrast(100%);
}
#content #TronGrace .tron-box .tron-min:hover img.filter {
  filter: invert(58%) sepia(90%) saturate(847%) hue-rotate(187deg) brightness(102%) contrast(100%);
}
#content #TronGrace .tron-box .tron-min img {
  margin-top: 50px;
  margin-bottom: 25px;
}
#contenta #TronGrace .tron-box .tron-min img.filter {
  filter: invert(20%) sepia(97%) saturate(1937%) hue-rotate(249deg) brightness(94%) contrast(88%);
}
#content #TronGrace .tron-box .tron-min h4 {
  color: #000349;
  font-size: 22px;
  font-weight: 600;
}
#content #TronGrace .tron-box .tron-min p {
  color: #29292b;
  font-size: 16px;
  line-height: 29px;
  font-weight: 400;
}
#content #downloads {
  position: relative;
  width: 100%;
  display: inline-block;
  min-height: 500px;
  margin-bottom: 40px;
}
#content #downloads .white-dot {
  position: absolute;
  right: -50px;
  top: 36%;
  background-image: url("../img/icon/white-dot.png");
  height: 40px;
  width: 109px;
  background-size: 100% 100%;
  z-index: 1;
}
#content #downloads .blue-dot {
  position: absolute;
  left: 30px;
  z-index: 0;
  bottom: 103px;
  background-image: url("../img/icon/blue-dot.png");
  width: 40px;
  height: 109px;
}
#content #downloads:before {
  content: "";
  position: absolute;
  z-index: 1;
  opacity: 0.03;
  background-image: url("../img/downloads.png");
  width: 100%;
  height: 409px;
  left: 0;
  top: 0;
}
#content #downloads:after {
  content: "";
  background-image: linear-gradient(134deg, #000349 0%, #005b8e 100%);
  height: 409px;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  border-bottom: 10px solid #ff002e;
}
#content #downloads .container {
  z-index: 2;
  position: relative;
}
#content #downloads .down-text-left {
  padding-top: 47px;
}
#content #downloads .down-text-left p {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  line-height: 50px;
}
#content #downloads .down-text-left p span {
  background-image: linear-gradient(to left, #ff7a00, #ff002e);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
}
#content #downloads .down-text-right {
  padding-top: 47px;
  margin-bottom: 50px;
}
#content #downloads .down-text-right:after {
  content: "";
  position: absolute;
  left: -15px;
  top: 70px;
  width: 2px;
  background-color: #6c92ef;
  height: 60px;
}
#content #downloads .down-text-right p {
  font-size: 18px;
  color: #ffffff;
  font-weight: 500;
  text-align: center;
  margin-top: 15px;
}
#content #downloads .row {
  margin-left: -10px;
  margin-right: -10px;
}
#content #downloads .download-box {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 15px;
}
#content #downloads .download-box .download-min {
  background-color: #fff;
  border-radius: 10px;
  height: 358px;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  padding-top: 25px;
}
#content #downloads .download-box .download-min:hover {
  margin-top: -25px;
  padding-top: 35px;
}
#content #downloads .download-box .download-min .top-title {
  width: 100%;
  display: inline-block;
  padding: 0 19px;
  margin-top: 10px;
}
#content #downloads .download-box .download-min .top-title .left-title {
  border-radius: 10px;
  background-image: linear-gradient(138deg, #ff002e 0%, #ff7a00 100%);
  color: #fff;
  width: 39px;
  height: 39px;
  line-height: 39px;
  float: left;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  margin-top: 10px;
}
#content #downloads .download-box .download-min .top-title .right-title {
  color: #29292b;
  font-size: 20px;
  line-height: 23px;
  margin-left: 12px;
  float: left;
  width: 77%;
  margin-top: 8px;
}
#content #downloads .download-box .download-min .title-content {
  padding: 0 19px;
}
#content #downloads .download-box .download-min .title-content p {
  font-size: 15px;
  line-height: 16px;
  font-weight: 400;
  color: #a8a8a8;
  margin-top: 5px;
}
#content #downloads .download-box .download-min .circle {
  width: 84px;
  height: 84px;
  border-radius: 84px;
  -webkit-box-shadow: 0px 0px 6px 0px #000349;
  -moz-box-shadow: 0px 0px 6px 0px #000349;
  box-shadow: 0px 0px 6px 0px #000349;
  background-color: #000349;
  line-height: 84px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#content #downloads .download-box .download-min:hover {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.19);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.19);
}
#content #affiliate {
  margin-top: 70px;
  position: relative;
}
#content #affiliate .ref-link {
  z-index: 2;
}
#content #affiliate .ref-link .row {
  margin-left: -10px;
  margin-right: -10px;
}
#content #affiliate .ref-link .ref-box {
  padding-left: 10px;
  padding-right: 10px;
}
#content #affiliate .ref-link .ref-box.hide-pc {
  display: none;
}
#content #affiliate .ref-link .ref-box a {
  background-color: #ffffff;
  width: 100%;
  height: 104px;
  display: block;
  border-radius: 10px;
  margin-bottom: 21px;
  position: relative;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.24);
}
#content #affiliate .ref-link .ref-box a:hover {
  background-image: linear-gradient(138deg, #000349 0%, #005b8e 100%);
}
#content #affiliate .ref-link .ref-box a:hover strong, #content #affiliate .ref-link .ref-box a:hover .text {
  color: #fff !important;
}
#content #affiliate .ref-link .ref-box a:after {
  font-family: "FontAwesome";
  content: "";
  position: absolute;
  right: -17px;
  top: 45px;
  font-size: 17px;
  color: #ff002e;
  transform: rotate(135deg);
}
#content #affiliate .ref-link .ref-box a img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#content #affiliate .ref-link .ref-box a.active {
  background-image: linear-gradient(138deg, #000349 0%, #005b8e 100%);
  text-align: center;
  padding-top: 13px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
#content #affiliate .ref-link .ref-box a.active strong {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  display: inline-block;
  line-height: 18px;
  margin-top: 7px;
}
#content #affiliate .ref-link .ref-box a .numb {
  width: 39px;
  height: 29px;
  background-image: linear-gradient(129deg, #ff002e 0%, #ff7a00 100%);
  border-radius: 10px;
  display: block;
  text-align: center;
  line-height: 29px;
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  float: left;
  margin: 22px 5px 7px 10px;
}
#content #affiliate .ref-link .ref-box a .text {
  font-size: 20px;
  color: #29292b;
  font-weight: 600;
  float: left;
  margin-top: 22px;
}
#content #affiliate .ref-link .ref-box a strong.d-block {
  text-align: center;
  color: #000349;
  display: inline-block !important;
  width: 100%;
  font-weight: 600;
  font-size: 20px;
}
#content #affiliate .ref-link .ref-box:nth-child(4) a:after {
  transform: rotate(45deg);
  top: auto;
  bottom: -22px;
  left: 50%;
  right: auto;
  margin-left: -5px;
}
#content #affiliate .ref-link .ref-box:nth-child(5) a:after {
  transform: rotate(45deg);
  top: auto;
  bottom: -22px;
  left: 50%;
  right: auto;
  margin-left: -5px;
}
#content #affiliate .ref-link .ref-box:last-child a:after, #content #affiliate .ref-link .ref-box:nth-child(8) a:after {
  display: none;
}
#content #affiliate #program {
  position: absolute;
  width: 100%;
  top: 10px;
  z-index: 0;
}
#content #affiliate #program .program-box {
  height: 356px;
  background-image: linear-gradient(149deg, #000349 0%, #005b8e 100%);
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
  position: relative;
  margin-top: 50px;
}
#content #affiliate #program .program-box .program-text {
  position: relative;
  z-index: 1;
  text-align: center;
  padding-top: 50px;
}
#content #affiliate #program .program-box .program-text img {
  margin-bottom: 18px;
}
#content #affiliate #program .program-box .program-text h5 {
  font-size: 35px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 5px;
  display: inline-block;
  width: 100%;
}
#content #affiliate #program .program-box .program-text p {
  color: #fff;
  font-size: 17px;
  line-height: 23px;
  font-weight: 500;
  margin-top: 5px;
  display: block;
}
#content #affiliate #program .program-box:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("../img/hand.png");
  background-size: 100% 100%;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}
#content #papers {
  position: relative;
  width: 100%;
  margin-top: 30px;
}
#content #papers .paper-left {
  height: 520px;
}
#content #papers .paper-left img {
  height: 100%;
}
#content #papers .paper-right {
  height: 500px;
}
#content #papers .paper-right .paper-box {
  padding-left: 0;
  margin-bottom: 20px;
}
#content #papers .paper-right .paper-box .paper-min {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.14);
}
#contenta #papers .paper-right .paper-box .paper-min img {
  filter: invert(20%) sepia(97%) saturate(1937%) hue-rotate(249deg) brightness(94%) contrast(88%);
}
#content #papers .paper-right .paper-box .paper-min img.bonus {
  filter: none;
}
#content #papers .paper-right .paper-box .paper-min:hover {
  background-image: linear-gradient(136deg, #000349 0%, #005b8e 100%);
}
#content #papers .paper-right .paper-box .paper-min:hover h4, #content #papers .paper-right .paper-box .paper-min:hover p {
  color: #fff;
}
#content #papers .paper-right .paper-box .paper-min:hover img {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(317deg) brightness(103%) contrast(102%);
}
#content #papers .paper-right .paper-box .paper-min:hover img.bonus {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(317deg) brightness(147%) contrast(102%);
}
#content #papers .paper-right .paper-box .paper-min h4 {
  font-size: 18px;
  font-weight: 600;
  color: #29292b;
  margin-top: 5px;
}
#content #papers .paper-right .paper-box .paper-min p {
  color: #29292b;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 0;
}
#content #whats {
  position: relative;
  width: 100%;
}
#content #whats:before {
  content: "";
  background-image: url("../img/icon/dot-right.png");
  height: 109px;
  width: 40px;
  background-size: 100% 100%;
  position: absolute;
  right: -18px;
  top: 100px;
}
#content #whats:after {
  content: "";
  position: absolute;
  right: -200px;
  top: 0;
  background-image: url("../img/what-after.png");
  height: 600px;
  width: 700px;
  background-size: 100% 100%;
  z-index: 0;
}
#content #whats .row {
  margin-left: -10px;
  margin-right: -10px;
}
#content #whats .what-box {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 25px;
  z-index: 1;
}
#content #whats .what-box .what-min {
  border-radius: 10px;
  background-image: linear-gradient(131deg, #000349 0%, #005b8e 100%);
  height: 180px;
  text-align: center;
}
#content #whats .what-box .what-min img {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 10px;
}
#content #whats .what-box .what-min span {
  display: block;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
}
#content #whats .what-box .what-min strong {
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
}
#content .default-title {
  text-align: center;
}
#content .default-title h3 {
  font-size: 33px;
  font-weight: 700;
  color: #29292b;
}
#content .default-title h3 span {
  color: #000349;
  position: relative;
}
#content .default-title h3 span:after {
  content: "";
  position: absolute;
  right: -25px;
  top: -20px;
  background-image: url("../img/icon/bobble.png");
  width: 38px;
  height: 43px;
}

footer {
  width: 100%;
  position: relative;
  padding: 55px 0;
  background-image: linear-gradient(115deg, #000349 0%, #005b8e 100%);
  border-top: 9px solid #ff002e;
  margin-top: 30px;
}
footer:after {
  content: "";
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/footer-background.png");
  background-size: 100% 100%;
  opacity: 0.03;
}
footer .footer-box {
  z-index: 2;
}
footer .footer-box .hide-mb {
  display: none;
}
footer .footer-box .logo:hover {
  opacity: 0.8;
}
footer .footer-box .copyright {
  font-size: 15px;
  color: #fff;
  font-weight: 500;
  margin-top: 20px;
}
footer .footer-box .chat_wrapper {
  float: right;
  padding-right: 20px;
}
footer .footer-box .chat_box {
  width: 210px;
  border-radius: 11px;
  height: 57px;
  position: relative;
  background-image: linear-gradient(138deg, #ff002e 0%, #ff7a00 100%);
  display: block;
}
footer .footer-box .chat_box:hover {
  filter: brightness(80%);
}
footer .footer-box .chat_box:hover .robocop {
  background-color: #000349;
}
footer .footer-box .chat_box i, footer .footer-box .chat_box .text {
  float: left;
  color: #fff;
  font-size: 15px;
}
footer .footer-box .chat_box i {
  margin-left: 15px;
  margin-top: 22px;
  transform: rotate(90deg);
}
footer .footer-box .chat_box .text {
  margin-top: 19px;
  font-weight: 600;
  margin-left: 15px;
}
footer .footer-box .chat_box .robocop {
  float: right;
  width: 70px;
  height: 70px;
  border-radius: 70px;
  text-align: center;
  display: block;
  line-height: 70px;
  margin-top: -6px;
  margin-right: -25px;
  background-image: linear-gradient(138deg, #ff002e 0%, #ff7a00 100%);

  transition: 330ms;
  -webkit-transition: 330ms;
}
footer .footer-box .chat_box .robocop img {
  margin-bottom: -1px;
}
footer .footer-box .what-links {
  display: inline-block;
  margin-top: 15px;
}
footer .footer-box .what-links a {
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  display: block;
  margin-bottom: 7px;
}
footer .footer-box .what-links a:last-child {
  margin-bottom: 0;
}
footer .footer-box .what-links a:hover {
  color: #ff002e;
}
footer .footer-box .link {
  height: 57px;
  background-image: linear-gradient(138deg, #ff002e 0%, #ff7a00 100%);
  width: 319px;
  max-width: 100%;
  border-radius: 11px;
  display: inline-block;
  color: #000349;
  font-size: 15px;
  font-weight: 600;
  padding-left: 10px;
  padding-right: 5px;
  margin-top: -5px;
}
footer .footer-box .link:hover {
  filter: brightness(80%);
  color: #fff;
}
footer .footer-box .link i {
  transform: rotate(90deg);
  margin-right: 7px;
  margin-top: 21px;
  float: left;
}
footer .footer-box .link span {
  float: left;
  margin-top: 18px;
}
footer .footer-box .social {
  display: block;
  width: 100%;
  position: relative;
}
footer .footer-box .social li {
  margin-bottom: 20px;
}
footer .footer-box .social li:last-child {
  margin-bottom: 0;
}
footer .footer-box .social li:first-child .right-social {
  background-color: #08a1ff;
}
footer .footer-box .social li:first-child .left-social img {
  margin-left: -3px;
}
footer .footer-box .social li:first-child .left-social:first-child {
  background-image: url("../img/social-left-1.png");
}
footer .footer-box .social li:nth-child(2) .right-social {
  background-color: #c60505;
}
footer .footer-box .social li:nth-child(2) .left-social:first-child {
  background-image: url("../img/social-left-2.png");
}
footer .footer-box .social li:nth-child(3) .right-social {
  background-color: #c91b87;
}
footer .footer-box .social li:nth-child(3) .left-social:first-child {
  background-image: url("../img/social-left-3.png");
}
footer .footer-box .social li:nth-child(3) .left-social img {
  margin-left: -1px;
  margin-top: -1px;
}
footer .footer-box .social a {
  height: 39px;
  display: inline-block;
  position: relative;
}
footer .footer-box .social a:hover {
  opacity: 0.95;
}
footer .footer-box .social a:hover .right-social:after {
  left: 100% !important;
}
footer .footer-box .social a .left-social {
  float: left;
  width: 43px;
  display: block;
  height: 43px;
  position: relative;
  z-index: 2;
  margin-top: -2px;
  text-align: center;
  line-height: 43px;
  color: #fff;
  font-size: 17px;
  background-size: 100% 100%;
}
footer .footer-box .social a .right-social {
  border-top-right-radius: 11px;
  border-bottom-right-radius: 11px;
  height: 100%;
  display: block;
  width: 155px;
  float: left;
  font-weight: 500;
  font-size: 10px;
  color: #fff;
  padding-left: 38px;
  margin-left: -30px;
  position: relative;
  z-index: 1;
  padding-top: 5px;
  overflow: hidden;
}
footer .footer-box .social a .right-social:after {
  content: "";
  height: 4px;
  background-color: #fff;
  width: 95px;
  top: 0;
  left: -65px;
  position: absolute;
  transform: rotate(50deg);
  -webkit-transition: 350ms;
  -moz-transition: 350ms;
  -ms-transition: 350ms;
  -o-transition: 350ms;
  transition: 350ms;
  z-index: 0;
}
footer .footer-box .social a .right-social strong {
  display: block;
  font-size: 12px;
  font-weight: 700;
  margin-top: -3px;
}
footer .footer-box .dropdown .btn {
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  outline: none;
  box-shadow: none;
}
footer .footer-box .dropdown .btn span {
  float: left;
  margin-right: 6px;
}
footer .footer-box .dropdown .btn img {
  float: left;
  margin-right: 5px;
  margin-top: 3px;
}
footer .footer-box .dropdown .btn i {
  float: left;
  margin-top: 5px;
  font-weight: 600;
}

.social-fixed {
    position: fixed;
    top: 25%;
    left: 20px;
    width: 50px;
    font-size: 18px;
    z-index: 999;
    flex-direction: column;
}

@media only screen and (max-width: 767px){
    .social-fixed {
        top: auto;
        left: 50%;
        bottom: 15px;
        flex-wrap: nowrap !important;
        flex-direction: inherit !important;
        transform: translate(-50%, 0);
    }

    .social-fixed .nav-link {
        min-width: 40px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        margin: 0 5px;
    }
}

.social-fixed .nav-link {
    box-shadow: 0 1px 2px rgba(0,0,0, 0.3);
    opacity: .8;
    color: #fff;
}

.social-fixed .nav-link:hover {
    opacity: 1;
}
.author-div {
    z-index: 99999;
}

.author-box {
    transition: all .3s ease-in-out;
}

.author-box:hover {
    box-shadow: 3px 5px rgba(236, 236, 236, 0.5) !important;
}

.author-box img {
    max-width: 80%;
    border-radius: 50%;
    box-shadow: 0 3px 3px rgba(0,0,0,.25);
}

.author-box .username {
    font-size: 12px;
    font-weight: 500;
}

.author-box .subtext {
    font-size: 14px;
    font-weight: 400;
}

.author-box .social {
    text-align: left;
    font-size: 15px;
    font-weight: 400;
}

.author-box .social .icon {
    min-width: 30px;
}

.author-box .social .nav-link {
    opacity: .8;
}

.author-box .social .nav-link:hover {
    opacity: 1;
}

.author-box .social .fb {
    background: #1877f2;
    color: #fff;
}

.author-box .social .tw {
    background: #1da1f2;
    color: #fff;
}

.author-box .btn {
    background: #ff002e;
    font-size: 12px;
    font-weight: 400;
    opacity: .8;
    transition: all .3s ease-in-out;
}

.author-box .btn:hover {
    opacity: 1;
}

.author-list {
    margin: 0 -5px;
}

.author-list .author-box {
    margin: 0 5px;
}

@media only screen and (max-width: 991px){
    .author-list {
        flex-wrap: wrap;
    }
    .author-list .author-box {
        flex: 1 0 33.333%;
        margin: 0;
    }
}

@media only screen and (max-width: 767px){
    .author-list .author-box {
        flex: 1 0 50%;
    }
}

@media only screen and (max-width: 580px){
    .author-list .author-box {
        flex: 100%;
    }
}

.bg-fb {
    background: #1877f2;
}

.bg-tw {
    background: #1da1f2;
}

.bg-ins {
    background: #c32aa3;
}

.bg-tel {
    background: #0088cc;
}

.bg-yt {
    background: #ff0000;
}

.bg-email {
    background: #222;
}

.bg-page {
    background: #663399;
}

.header-little {
    height: 150px !important;
}

@media only screen and (max-width: 580px){
    .represetive-area .select-country{
        display: block !important;
    }

    .author-list .author-box {
        display: none;
    }
}

.represetive-area .select-country{
    display: none;
}
/*# sourceMappingURL=style.css.map */
